/* CSS for centering the search input */

.center-search-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    width: 100%;
    margin-top: 20px; /* Add margin if needed */
  }
  
  .center-search-container input {
    width: 80%; /* Set the width of the input */
    max-width: 342px; /* Limit the max-width */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #333;
    background-color: #F7F8FA; 
  }
  
  .center-search-container input:focus {
    border-color: #50E3C2;
    box-shadow: 0 0 8px rgba(80, 227, 194, 0.5);
  }
  