.signup-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 40px 30px 30px 30px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--color-bg);
  align-items: center;
}

h2, p, a {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

.signup-submit button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-container form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.signup-submit button:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.signup-submit button:hover:not(:disabled) {
  background-color: var(--color-hover);
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-hover);
}
