/* ImageInput.css */

.image-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .image-preview {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .clear-button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    border-radius: 5px;
  }
  