.signup-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 40px 30px 30px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f6efef;
    align-items: center;
  }
  
  h2,p,a {
    text-align: center;
    font-family: "Fredoka", sans-serif;
  }
  
  .signup-submit button {
    width: 100%;
    padding: 10px;
    background-color: #ce14d8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }

  .signup-container form {
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .signup-submit button:disabled {
    background-color: #92759c;
    cursor: not-allowed;
  }
  
  .signup-submit button:hover:not(:disabled) {
    background-color: #674869;
  }

  a {
    color: #ce14d8;
  }

  a:hover {
    color: #674869;
  }
  

